<div class="container">
    <h1>Dados dos Alunos</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>{{dados.id}}</th>
    </tr>
    <tr>
        <th>NOME</th>
        <th>{{dados.nome}}</th>
    </tr>
    <tr>
        <th>MATRICULA</th>
        <th>{{dados.matricula}}</th>
    </tr>
    <tr>
        <th>TELEFONE</th>
        <th>{{dados.telefone}}</th>
    </tr>
    <tr>
        <th>EMAIL</th>
        <th>{{dados.email}}</th>
    </tr>
    <tr>
        <th>DATA DE NASCIMENTO</th>
        <th>{{dados.dataNascimento}}</th> 
    </tr>
</table>
<div class="row">
<div class="col-md-2"><a href="" class="btn btn-warning">Atualizar</a></div>
<div class="col-md-2"><a href="" class="btn btn-danger">Excluir</a></div>
</div>
</div>